<div class="cita-card" [class]="'cita-card--' + cita.estado">
  <div class="cita-card__header">
    <div class="cita-card__tipo">
      <ion-icon [name]="icono"></ion-icon>
      <span>{{ cita.tipo | titlecase }}</span>

      @if (!esPaciente) {
        @if (citaPasada() && !cita.facturada && cita.estado === 'confirmada') {
          <ion-badge color="danger" style="font-size: 10px; margin-left: 8px"
            >Sin facturar</ion-badge
          >
        }
        @if (cita.facturada) {
          <ion-badge color="success" style="font-size: 10px; margin-left: 8px">Facturada</ion-badge>
        }
      }
    </div>
    <ion-badge [color]="colorEstado">{{ cita.estado }}</ion-badge>
  </div>

  <div class="cita-card__fecha">
    <ion-icon name="time-outline"></ion-icon>
    <span>{{ cita.fecha_hora | date: 'd MMM · HH:mm' : '' : 'es' }}</span>
    <span class="cita-card__duracion">· {{ cita.duracion_min }} min</span>
  </div>

  @if (mostrarAcciones) {
    <div class="cita-card__acciones">
      @if (cita.estado === 'pendiente' && !cita.facturada) {
        <ion-button fill="clear" color="success" size="small" (click)="confirmar.emit(cita)">
          <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
          Confirmar
        </ion-button>
        <ion-button fill="clear" color="warning" size="small" (click)="cancelar.emit(cita)">
          <ion-icon slot="start" name="close-circle-outline"></ion-icon>
          Cancelar
        </ion-button>
      }

      @if (cita.estado !== 'cancelada' && !cita.facturada) {
        <ion-button fill="clear" size="small" (click)="editar.emit(cita)">
          <ion-icon slot="start" name="create-outline"></ion-icon>
          Editar
        </ion-button>
      }

      @if (!cita.facturada && permitirFacturar && cita.estado === 'confirmada') {
        <ion-button fill="clear" color="primary" size="small" (click)="facturar.emit(cita)">
          <ion-icon slot="start" name="document-text-outline"></ion-icon>
          Factura
        </ion-button>
      }

      @if (!cita.facturada) {
        <ion-button fill="clear" color="danger" size="small" (click)="eliminar.emit(cita)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      }
    </div>
  }
</div>
